.identity-dashboard {
    font-size: 13px;
    padding-bottom: 10px;
}
.identity-label {
    font-weight: 500;
}
.identity-labels {
    font-style: italic;
    padding-top: 10px;
    padding-left: 5px;
}
.content-main {
    margin: 0px;
}
mat-panel-title {
    font-size: 16px;
    font-weight: 500;
}

mat-expansion-panel div {
    padding-bottom: 5px;
}