<div class="btn-group">
    <a class="profile-preview dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">
        <fa-icon [icon]="faUserCircle" size="2x" class="profile-icon"></fa-icon>
        {{ userName | async }}
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="{{idpBaseUrl}}/account/settings/profile">Account</a></li>
        <li><a class="dropdown-item" [routerLink]='["/authentication/logout"]' [state]='{ local: true }'>Logout</a>
        </li>
    </ul>
</div>