@page
@model PasswordModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Account - Password";
}
<div class="row tabs">
    <a href="@Url.Page("/account/settings/profile")" class="tab col-3 col-sm-2">
        Profile
    </a>
    <a href="@Url.Page("/account/settings/email")" class="tab col-3 col-sm-2">
        Email
    </a>
    <a href="@Url.Page("/account/settings/password")" class="tab col-3 col-sm-2" data-selected="true">
        Password
    </a>
</div>
<div class="row m-0 panel-content shadow-sm">
    <div class="panel-acct-settings panel-fill">
        <div class="panel-acct-contents">
            <div class="acct-form">
                <h3>Password Details</h3>
                <hr />
                <div class="row m-0">
                    <div class="col-sm-12">
                        <form method="post">
                            @* Success summary *@
                            @await Html.PartialAsync("_SuccessSummaryPartial", ViewData)
                            <div class="form-group row">
                                <label asp-for="Input.CurrentPassword" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Input.CurrentPassword" class="form-control" />
                                    <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Input.NewPassword" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Input.NewPassword" class="form-control" />
                                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Input.ConfirmNewPassword" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Input.ConfirmNewPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmNewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>