@import "./variables";
@import "./controls";
// Adjust panels for interactivity
// Fill screen when mobile
@media only screen and (max-width: 600px) {
    .container, .login-panel, .register-panel {
        padding: 0;
        margin: 0;
    }
    .login-panel, .register-panel {
        height: 100vh;
        width: 100%;
    }
}
// Min-width while on desktop/laptop
@media only screen and (min-width: 600px) {
    .login-panel {
        width: 500px;
    }
    .register-panel {
        width: 650px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
.login-container {
    background-color: $color-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
}
.login-panel {
    background-color: $color-fg;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
}
.register-panel {
    background-color: $color-fg;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
}
.login-logo {
    margin-bottom: 10px;
}
.login-title {
    color: rgb(46, 45, 45);
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 4px;
}
.btn-login {
    border-radius: 0;
    width: 100%;
    height: 100%;
}