@page
@model ChangeEmailConfirmationModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Account - Confirm Email";
    var headerClass = Model.Success ? "error text-success" : "error text-danger";
    var headerText = Model.Success ? "Email Change Successful" : "Email Change Failed";
}
<div class="p-2">
    <h3 class=@headerClass>@headerText</h3>
    <hr />
    <p class="error-descs">@Model.ResultMessage.ToString()</p>
</div>