@page
@model ForgotPasswordModel
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Password Reset";
    var iconClass = Model.Success ? "fas fa-check-circle text-success" : "fas fa-exclamation-circle text-warning";
}
<div class="shadow-sm login-panel">
    <div class="row m-0">
        <div class="col-sm-12 login-logo">
            <img src="~/img/samplelogo.svg"
                width="120" height="35" class="d-inline-block align-top">
        </div>
        <div class="col-sm-12 login-title">
            Forgotten Password
        </div>
        <hr />
        <div class="col-sm-12">
            Please enter in the email address associated with your account below.
        </div>
        <hr />
        @* ViewData validation message *@
        @if (this.ValidationMessageViewDataExists()) {
            <div class="col-sm-12 pb-4">
                @await Html.PartialAsync("_ValidationMessagePartial", ViewData)
            </div>
        }
        <div class="col-sm-12 text-left">
            <form method="post">
                <div class="form-group">
                    <label asp-for="@Model.Input.Email"></label>
                    <input asp-for="@Model.Input.Email" class="form-control" />
                    <span asp-validation-for="@Model.Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-5">
                    <input type="submit" value="Reset Password" class="btn btn-secondary btn-login" />
                </div>
                <div class="form-group text-center">
                    <a href="@Url.Page("/account/login")">Return to login</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}