@page
@model ForgotPasswordModel
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Forgot Password";
    var iconClass = Model.Success ? "fas fa-check-circle text-success" : "fas fa-exclamation-circle text-warning";
}
<div class="shadow-sm login-panel">
    <div class="row m-0">
        <div class="col-sm-12 login-logo">
            <img src="~/img/samplelogo.svg"
                width="120" height="35" class="d-inline-block align-top">
        </div>
        <div class="col-sm-12 login-title">
            Forgotten Password
        </div>
        <hr />
        <div class="col-sm-12 pb-4">
            Please enter in the confirmed email address associated with your account below.
        </div>
        <hr />
        <div class="col-sm-12 text-left">
            <form method="post">
                @* Success summary *@
                @await Html.PartialAsync("_SuccessSummaryPartial", ViewData)
                <div class="form-group">
                    <label asp-for="@Model.Input.Email"></label>
                    @* hover-info explaining email confirmation *@
                    <i tabindex="0" class="fas fa-exclamation-circle fa-md hover-info text-warning text-center" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Your email must be confirmed to reset your password. Need a new confirmation link? <a href='/account/resendconfirmationemail'>Click here</a>"></i>
                    <input asp-for="@Model.Input.Email" class="form-control" />
                    <span asp-validation-for="@Model.Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-5">
                    <input type="submit" value="Reset Password" class="btn btn-secondary btn-login" />
                </div>
                <div class="form-group text-center">
                    <a href="@Url.Page("/account/login")">Return to login</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Popover
        $("[data-toggle=popover]").popover();
    </script>
}