@page
@model LogoutModel
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Logout";
}
<div class="shadow-sm login-panel">
    <div class="row m-0">
        <div class="col-sm-12 login-logo">
            <img src="~/img/samplelogo.svg"
                width="120" height="35" class="d-inline-block align-top">
        </div>
        <hr class="col-sm-12 p-0 m-2" />
        <div class="col-sm-12">
            <span>Would you like to sign out of your account?</span>
        </div>
        <div class="col-sm-12 pt-3">
            <form method="post" id="logoutForm">
                <input type="hidden" name="logoutId" value="@Model.Input.LogoutId"  />
                <button type="submit" class="btn btn-primary">Yes</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}