@model RedirectModel
<div class="shadow-sm login-panel">
    <div class="row m-0">
        <div class="col-sm-12 login-logo">
            <img src="~/img/samplelogo.svg"
                width="120" height="35" class="d-inline-block align-top">
        </div>
        <div class="col-sm-12 login-title">
            Returning to application
        </div>
        <hr class="col-sm-12 p-0 m-2" />
        <div class="col-sm-12">
                <p>You are being returned to your application.</p>
                <p>Please do not close this tab until loading is complete.</p>
        </div>
    </div>
</div>   

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>