// Colors
$color-bg: rgb(224, 223, 223);
$color-fg: rgb(241, 241, 241);
$color-primary: #557a95;
$color-secondary: #5d5c61;
$color-control-primary: #ada1a1;
$color-control-primary-shdw: rgb(192, 181, 181);
$color-control-primary-hvr: rgb(190, 178, 178);
$color-control-primary-brdr: rgb(173, 161, 161);
