@using Microsoft.AspNetCore.Identity
@using CoreMultiTenancy.Identity.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="menu-item">
        <div class="dropdown account-dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="account-img">
                    <i class="fas fa-user-circle"></i>
                </span>
            </a> 
            <div class="dropdown-menu dropdown-menu-right dropdown-custom">
                <a asp-page="/account/settings/profile" class="dropdown-item">Account</a>
                <a asp-page="/account/logout" class="dropdown-item">Logout</a>
            </div>
        </div>        
    </div>
}
else
{
    <div class="menu-item">
        <div class="nav-text">
            <a asp-page="/account/login" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">Sign in</a>
        </div>
    </div>
}