<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @await Html.PartialAsync("_StyleSheetsPartial")
</head>
<body>
    <div class="container">
        <div class="login-container">
            @* Main RenderBody *@
            <main>
                @RenderBody()
            </main>
        </div>        
    </div>

    @await Html.PartialAsync("_RequiredScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
