@* Requires TempData["Success"] (bool) and TempData["ResultMessage"] (string) *@
@* Use RazorPageBase extension method to check TempData in view, this does not verify it is populated *@
@{
    string parentClasses;
    string iconClasses;
    if ((bool)ViewData["Success"]) {
        parentClasses = "validation-msg success";
        iconClasses = "fas fa-check success";
    } else {
        parentClasses = "validation-msg error";
        iconClasses = "fas fa-times error";
    }
}
<div class="@parentClasses">
    <div class="validation-icon">
        <i class="@iconClasses"></i>
    </div>
    <div class="validation-text">
        <span>@ViewData["ResultMessage"].ToString()</span>
    </div>
</div>