@model CoreMultiTenancy.Identity.ViewModels.Settings.SettingsEmailViewModel
@{
    Layout = "~/Views/Shared/_AccountSettingsLayout.cshtml";
    ViewData["Title"] = "Account - Email";
}
<div class="panel-acct-contents">
    <div class="acct-form">
        <h3>Email Details</h3>
        <hr />
        <div>
            <form asp-controller="settings" asp-action="email" method="post">
                <div class="form-group">
                    <label asp-for="CurrentEmail"></label>
                    <input asp-for="CurrentEmail" readonly class="form-control-plaintext" />
                </div>
                <div class="form-group">
                    <label asp-for="NewEmail"></label>
                    <input asp-for="NewEmail" class="form-control" />
                    <span asp-validation-for="NewEmail" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update Email</button>
            </form>
        </div>
    </div>
</div>