@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}
<div class="row m-0 panel-content shadow-sm">
    <div class="col-sm-12 text-center p-3" style="min-height: 70vh">
        <h3>CoreMultiTenancy - Identity</h3>
        <hr class="col-sm-12 p-0 m-2" />
        <p class="p-3">
        This application serves as the centralized identity UI. When logging in from a client, 
        the client is redirected to this application to sign in. <br /> <br />
        To begin, click "Sign in" in the top right corner and create an account.
        </p>
    </div>
</div>
