.sidebar {
    min-width: 280px;
    max-width: 280px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sidebar-header {
    display: flex;
    align-items: center;
    height: 10vh;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
    height: calc(80vh - 4.1rem);
    justify-content: space-between;
    flex-grow: 1;
}
.sidebar-footer {
    height: 10vh;
}
.sidebar-logo {
    width:35px;
    height: 35px;
}
.nav-link {
    color: black;
}
.nav-link.active {
   background-color: #646464;
}
.nav-item {
    font-size: 17px;
}
.tbar-spacer {
    flex: 1 1 auto;
}
.mobile-nav-links {
    width: 100%;
    padding: 5px 16px;
    border-top: 1px #a5a1a1 solid;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}