<nav class="sidebar controls-bg">
  <div class="sidebar-header">
    <img class="sidebar-logo" src="https://www.infopulse.com/uploads/media/c-sharp.svg">
    <span class="fs-4" style="padding-left:8px;">CoreMultiTenancy</span>
  </div>
  <hr>
  <div class="sidebar-nav">
    <ul class="nav nav-pills flex-column" id="sidebarNav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]='["/aircraft"]' [state]='{ local: true }'>
          <fa-icon [icon]="faPlaneDeparture" size="1x"></fa-icon>
          Aircraft
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/users"]' [state]='{ local: true }'>
          <fa-icon [icon]="faUsers" size="1x"></fa-icon>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/roles"]' [state]='{ local: true }'>
          <fa-icon [icon]="faSitemap" size="1x"></fa-icon>
          Roles
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/controls"]' [state]='{ local: true }'>
          <fa-icon [icon]="faCog" size="1x"></fa-icon>
          Demo Controls
        </a>
      </li>
    </ul>
  </div>
  <hr>
  <div class="sidebar-footer">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/portal"]' [state]='{ local: true }'>
          <fa-icon [icon]="faBuilding" size="1x"></fa-icon>
          Portal
        </a>
      </li>
    </ul>
  </div>
</nav>