.validation-summary-valid span {
  display: none;
}

.fluid-height {
  min-height: 100vh;
}

.btn-cstm {
  border-radius: 0px;
}

.btn-primary {
  color: black;
  background-color: #ada1a1;
  border-color: #ada1a1;
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:hover,
.btn-primary:active, .btn-primary.active {
  color: black;
  background-color: #beb2b2 !important;
  border-color: #ada1a1 !important;
  background-image: none;
  outline: none !important;
  box-shadow: none !important;
}

.open > .dropdown-toggle.btn-primary,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  color: black;
  background-color: #ada1a1 !important;
  border-color: #ada1a1 !important;
}

.open > .dropdown-toggle.btn-primary {
  color: black;
  background-color: #ada1a1 !important;
  border-color: #ada1a1 !important;
  background-image: none;
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  color: black;
  background-color: #ada1a1;
  border-color: #ada1a1;
}

.btn-primary:hover {
  color: black;
  background-color: #beb2b2;
  border-color: #ada1a1;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: black;
  background-color: #beb2b2;
  border-color: #ada1a1;
  box-shadow: 0 0 0 0.2rem #ada1a1;
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: black;
  background-color: #beb2b2;
  border-color: #ada1a1;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ada1a1;
}

.btn-primary:disabled, .btn-primary.disabled {
  color: black;
  background-color: #ada1a1;
  border-color: #ada1a1;
}

.btn-cstm {
  border-radius: 0px;
}

.btn-primary {
  color: black;
  background-color: #ada1a1;
  border-color: #ada1a1;
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:hover,
.btn-primary:active, .btn-primary.active {
  color: black;
  background-color: #beb2b2 !important;
  border-color: #ada1a1 !important;
  background-image: none;
  outline: none !important;
  box-shadow: none !important;
}

.open > .dropdown-toggle.btn-primary,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  color: black;
  background-color: #ada1a1 !important;
  border-color: #ada1a1 !important;
}

.open > .dropdown-toggle.btn-primary {
  color: black;
  background-color: #ada1a1 !important;
  border-color: #ada1a1 !important;
  background-image: none;
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  color: black;
  background-color: #ada1a1;
  border-color: #ada1a1;
}

.btn-primary:hover {
  color: black;
  background-color: #beb2b2;
  border-color: #ada1a1;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: black;
  background-color: #beb2b2;
  border-color: #ada1a1;
  box-shadow: 0 0 0 0.2rem #ada1a1;
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: black;
  background-color: #beb2b2;
  border-color: #ada1a1;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ada1a1;
}

.btn-primary:disabled, .btn-primary.disabled {
  color: black;
  background-color: #ada1a1;
  border-color: #ada1a1;
}

@media only screen and (max-width: 600px) {
  .container, .login-panel, .register-panel {
    padding: 0;
    margin: 0;
  }

  .login-panel, .register-panel {
    height: 100vh;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .login-panel {
    min-width: 500px;
  }

  .register-panel {
    min-width: 650px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.login-container {
  background-color: #e0dfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}

.login-panel {
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  text-align: center;
}

.register-panel {
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  text-align: center;
}

.login-logo {
  margin-bottom: 10px;
}

.login-title {
  color: #2e2d2d;
  font-size: 30px;
  font-weight: 400;
}

.btn-login {
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.btn-org-sel {
  border-radius: 0px;
  padding: 6px 12px 6px 12px;
}

.btn-org-sel.dropdown-toggle-split {
  border-color: transparent transparent transparent #f1f1f1;
}

.org-container {
  display: flex;
  align-items: flex-start;
  height: 45vh;
  padding-top: 25px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.org-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.associated-link {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.associated-link a {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.1;
  text-decoration: underline;
  color: #292626;
}

.associated-link p {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 3px;
}

.org-img img {
  width: 75px;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bdbcbc;
  border-radius: 2px;
  margin-right: 20px;
}

.org-item {
  background-color: #e0dfdf;
  width: 100%;
  padding: 15px;
  margin: 0;
  display: flex;
  align-items: center;
}

.org-title {
  font-size: 18px;
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: flex-start;
}

.org-ctrls {
  display: flex;
}

.error {
  padding: 20px 10px 5px 10px;
}

.error-desc {
  padding: 0px 10px 0px 10px;
}

body {
  background-color: #e0dfdf;
}

main {
  width: 100%;
}

.panel-parent {
  max-width: 700px;
  margin: auto;
}

.panel-header-lite {
  width: 100%;
  justify-content: space-between;
}

.panel-content {
  width: 100%;
  padding: 5px 10px 5px 10px;
  background-color: #f1f1f1;
}

.title-box {
  font-size: 26px;
  font-weight: 500;
  justify-content: center;
  margin: 0;
}

/*# sourceMappingURL=site.css.map */
