@import "./scss/variables";
@import "./scss/controls";
@import "./scss/login";
@import "./scss/portal";
@import "./scss/error";
@import "./scss/accountPartial";
@import "./scss/settings";
@import "./scss/validation";

// ASP.NET CORE SPECIFIC
.validation-summary-valid span {
    display: none;
}
.validation-summary-errors.nobullet ul {
    list-style-type: none;
    padding: 0px;
}
// GENERAL USAGE/COMMON
.fa-mid {
    vertical-align: middle;
}
.col-padding {
    padding-right: 15px;
    padding-left: 15px;
}
.menu-item {
    padding: 0px 5px 0px 5px;
}

body {
    background-color: $color-bg;
}
main {
    width: 100%;
}
.panel-fill {
    height: 85vh;
    width: 100%;
}
.panel-parent {
    max-width: 700px;
    margin: auto;
}
.panel-header-lite {
    width: 100%;
    justify-content: space-between;
}
.panel-content {
    width: 100%;
    padding: 5px 10px 5px 10px;
    background-color: $color-fg;
    margin: 0;
    padding: 0;
}
.title-box {
    font-size: 26px;
    font-weight: 500;
    justify-content: center;
    margin: 0;
}
