<!doctype html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @await Html.PartialAsync("_StyleSheetsPartial")
</head>
<body>
    <div class="container-fluid fluid-height">
        <div class="row panel-parent">
            @* Header bar *@
            <div class="row m-0 panel-header-lite">
                <div class="d-flex align-items-center">
                    <img src="~/img/samplelogo.svg"
                        width="100" height="50" class="d-inline-block align-top">
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <div class="p-1">
                        help
                    </div>
                    <div class="p-1">
                        account
                    </div>
                </div>
            </div>
            @* Main panel *@
            <div class="row m-0 panel-content shadow-sm">
                @* RenderBody *@
                <main>
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    
    @await Html.PartialAsync("_RequiredScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>