<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @await Html.PartialAsync("_StyleSheetsPartial")
</head>
<body>
    <div class="container fluid-height">
        <div class="login-container">
            <div class="shadow-sm m-0 p-0 login-panel">
                @* Main RenderBody *@
                <main>
                    @RenderBody()
                </main>
            </div>
        </div>        
    </div>

    @await Html.PartialAsync("_RequiredScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
