<!DOCTYPE html>
<html lang="en" class="theme-aspen">
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>

        <link rel="stylesheet" href=@Url.Content("~/css/site.css") />
    </head>
    <body class="theme-aspen">
        <div class="login-container-parent">
            <div class="login-container">
                <div class="login-logo-wrapper">
                    <img src="~/img/logo.png" >
                </div>
                <div class="login-header">
                    <span>@ViewData["Title"]</span>
                </div>
                <main>
                    @RenderBody()
                </main>
            </div>
        </div>
        @RenderSection("Scripts", required: false)
    </body>
</html>
