@page
@model EmailModel
@{
    Layout = "~/Pages/Shared/_AccountSettingsLayout.cshtml";
    ViewData["Title"] = "Account - Email";
}
<div class="panel-acct-contents">
    <div class="acct-form">
        <h3>Email Details</h3>
        <hr />
        <div>
            <div class="form-group row">
                <label asp-for="CurrentEmail" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <div class="form-control-plaintext">@Model.CurrentEmail</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-9">
                    @if (Model.EmailConfirmed) {
                        <div class="form-control-plaintext"><i class="fas fa-check fa-lg text-success"></i> Confirmed</div>
                    } else {
                        <div class="form-control-plaintext">Not Confirmed - <a asp-page-handler="resendconfirmation">Resend confirmation</a></div>
                    }
                </div>
            </div>
            <form method="post">
                <div class="form-group row">
                    <label asp-for="Input.NewEmail" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Input.NewEmail" class="form-control" />
                        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update Email</button>
            </form>
        </div>
    </div>
</div>