@model CoreMultiTenancy.Identity.ViewModels.Account.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="row login-form-container">
    <div class="col-md-10 login-form">
        <section>
            <form id="account" method="post">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-secondary col-12">Log in</button>
                </div>
                <div class="form-group">
                    <a asp-action="Register" class="btn btn-light col-12">Register</a>
                </div>
                <div class="form-group form-group-last">
                    <a id="forgot-password" asp-action="ForgotPassword" class="btn btn-light col-12">Forgot your password?</a>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
