<app-toasts></app-toasts>
<div class="portal-header pt-2 container-padding">
    <div class="btn-group">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">
            <fa-icon [icon]="faUserCircle" size="2x"></fa-icon>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{{idpBaseUrl}}/account/settings/profile">Account</a></li>
            <li><a class="dropdown-item" [routerLink]='["/authentication/logout"]' [state]='{ local: true }'>Logout</a>
            </li>
        </ul>
    </div>
</div>
<div class="row justify-content-center">
    <p class="text-center mb-2 display-3 fw-350">CoreMultiTenancy - Portal</p>
    <hr class="mb-2" style="width:75%" />
    <p class="text-center">This portal serves as the entry point for the application. Select a tenant to continue.</p>
</div>
<div class="tenant-card-container">
    <div *ngFor="let userOrg of userOrganizations" class="tenant-card pointer"
        (click)="this.selectTenant(userOrg.organization.id)">
        <div class="logo">
            <img src="{{idpBaseUrl}}/img/{{userOrg.organization.logoUri}}" />
        </div>
        <div class="title">{{userOrg.organization.title}}</div>
    </div>
</div>