@import '@angular/material/prebuilt-themes/indigo-pink.css';
@media only screen and (min-width : 0px) {
}
@media only screen and (min-width : 768px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .container-padding {
        padding-right: 10vw;
        padding-left: 10vw;
    }
}
.fw-350 {
    font-weight: 350;
}
.pointer {
    cursor: pointer;
}
.container-padding {
    padding-right: 10vw;
    padding-left: 10vw;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow: hidden;
}
.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 1px 1px rgb(228, 228, 228);
}
.content-header-title {
    font-size: 22px;
}
.content {
    width: 100%;
}
.controls-bg {
    background-color: #e7e7e7;
}
.content-main {
    margin: 20px;
}
.checkbox-decoration {
    pointer-events: none;
    filter: none;
}
.mat-blue {
    background-color: #54A6FF;
    color: white
}
.mat-green {
    background-color: #6ab190;
    color: white 
}
.mat-warning {
    background-color: #e47a01;
    color: white
}
.mat-danger {
    background-color: #d32000;
    color: white
}
.profile-preview {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding-left: 10px;
}
a.profile-preview:hover {
    background-color: unset !important;
    color: unset !important;
}