@page
@model CoreMultiTenancy.Identity.Areas.Account.Pages.PortalModel
@{
    ViewData["Title"] = "Portal";
}
<div>
    <div>
        @for (var i = 0; i < Model.OrganizationIds.Count; i++)
        {
            <div>
                <p>ID: @Model.OrganizationIds[i]</p>
                <p>Title: @Model.OrganizationTitles[i]</p>
                @* Button for selection *@
            </div>
        }
    </div>
</div>