@import "./variables";
// ASP.NET CORE SPECIFIC
.validation-summary-valid span { 
    display: none; 
}
// QOL CLASSES
.fluid-height {
    min-height: 100vh;
}
// MENU/NAVBAR
.menu-item {
    padding: 0px 5px 0px 5px;
}