@page
@model IndexModel
<div class="p-2">
  @if (Model.Success) {
    <h3 class="error text-success">Invite Successful</h3>
  } else {
    <h3 class="error text-danger">Invite Failed</h3>
  }
  <hr />
  <p class="error-descs">@Model.ResultMessage.ToString()</p>
</div>