@{
    ViewData["Title"] = "Portal";
}
<div class="row title-box">
Choose a company
</div>
<div class="org-container">
    <div class="org-item">
        <div class="org-img">
            <img src="~/img/logo.png" draggable="false">
        </div>
        <div class="org-title">
            American Flight Schools
        </div>
        <div class="org-ctrls">
            <div class="btn-group">
                <button type="button" class="btn-cstm btn-org-sel btn btn-sm btn-primary">Select</button>
                <button type="button" class="btn-org-sel btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row m-0 p-0">
        <div class="associated-link">
            <a href="">Help: Receiving access to a company</a>
            <p>Learn how to use a company's invitation link to join, or request access.</p>
        </div>
        <div class="associated-link">
            <a href="">Help: Creating your own company</a>
            <p>Learn how to create your own company with access to flight scheduling, billing, maintenance tracking, and more.</p>
        </div>
    </div>
</div>